// les variables// 
$color-primaire:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$color-header:#c2c2c2;
$color-background-fonctionnement: white;
$color-background-decouvrir: rgb(238, 229, 229);
$color-icon:rgb(121, 120, 120);
//police et style // 
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');

$font-logo-tilte:'Shrikhand', cursive;
$font-body:'Roboto', sans-serif;
$padding-left:20px;
$padding-right:20px;
$padding-bottom:20px;
$padding-top:20px;
$margin-left:20px;
$margin-right:20px;
$margin-top:20px;
$margin-bottom:20px;
$margin:auto;


h1,h2{
    font-family:$font-body;
}
h4{
    font-weight: bold;
}
p{
    font-weight: lighter;
}
body,html{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: $font-body;
}
.bloc_page{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y:scroll;
    font-family: $font-body; 
}

//loader// 

@keyframes chargeur {
    0%{
        transform: rotate(0deg) scale(1);
        border-top: 16px solid $color-primaire;
        border-bottom: 16px solid $color-primaire;
        opacity: 1;
    }
    25%{
      border-top: 16px solid $color-secondaire;
      border-bottom: 16px solid $color-secondaire;
    }
    50%{
      transform: rotate(360deg) scale(1.15);
      border-top: 16px solid $color-primaire;
      border-bottom: 16px solid $color-primaire;
      
    }
    75%{
      border-top: 16px solid $color-tertiaire;
      border-bottom: 16px solid $color-tertiaire;
    }
    100%{
      transform: rotate(720deg) scale(1);
      border-top: 16px solid $color-primaire;
      border-bottom: 16px solid $color-primaire;
      opacity: 1;          
  }
}
@keyframes opacity {
    0%, 90%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
    }
}

.bloc-loader{
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(168, 164, 164, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
    animation: opacity 3s linear both;
    .bloc-loader__loader{
        border: 16px solid #f6f6f650;
        width: 120px;
        height: 120px;
        border-top:16px solid $color-primaire;
        border-bottom: 16px solid $color-secondaire;
        border-radius: 50%;
        opacity: 0;
        animation: chargeur 2s linear 2; 
    }    
}

//header// 

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px 0 15px 0;
    .header__logo{
    font-family: $font-logo-tilte;
    width: 165px;
    height: 30px;    
    }
}
    
//cadre maps geocalisation// 

.maps{
    display: flex;
    align-items: center;
    justify-content: center;
    background: -moz-linear-gradient(top, #c2c2c2 0%, #e9e9e9 10%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #c2c2c2 0%, #e9e9e9 10%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #c2c2c2 0%, #e9e9e9 10%, #e9e9e9 100%);
    height: 50px;
    margin: 0;
    .maps__icon{
        margin-right:$margin-right;
        cursor: pointer;
    }
}

//bouton de la page accueil// 

.decouvrir{
    text-align: center;
    padding:2rem;
    background-color:#F6F6F6;
    height: 250px;
    .decouvrir__title{
        font-weight: bold;
        font-size: 1.5em;
        margin-top:$margin-top;
    }
    .decouvrir__subtitle{
        font-size: 1.5rem;
        margin-top:$margin-top;
        margin-bottom: $margin-bottom + 10px;
    }
    .decouvrir__btn{
       width: 200px;
       height: 50px;
       border-radius: 50px;
       cursor: pointer;
       background: linear-gradient(to bottom right, $color-secondaire, $color-primaire);
       border:none;
       position: relative;
       transition: 300ms;
        box-shadow: 0px 11px 8px -5px  rgba($color: #000000, $alpha: 0.25);
   
       &:hover {
           transform: scale(0.92);
           box-shadow:0px 10px 8px -5px rgba($color: #000000, $alpha: 0.5);
           background: linear-gradient(to bottom right,rgba($color: #FF79DA, $alpha: 0.96),rgba($color: #9356DC, $alpha: 0.96));
        } 
    }
    .decouvrir__btn--text{
        color: #f5f5f5;
        font-size: 1.1em;       
    }
}

@mixin margin-h2{
    margin-left: $margin-left;
    margin-top: $margin-top + 20px;
}

@mixin box-shadow {
    box-shadow: 0px 3px 15px -4px $color-header;
}
// fonctionnement des filtres page accueil// 

@mixin fonctionement-filtres {
    border:2px transparent #C2C2C2;
    max-height: 100px;
    border-radius: 30px;
    margin-right: $margin-right;
    display: flex;
    background-color:rgb(250, 250, 250);
    align-items: center;
    cursor: pointer;
    max-width: 100%;
    margin-left: $margin-left + 10px;
    margin-bottom:$margin-bottom;
    height: 70px; 
    box-shadow: 0px -3px 31px -14px $color-header;
}

@mixin fonctionnement-numero-list {
    margin-left:-12px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color:$color-primaire ;
      color: white;
      font-weight: bold;
      padding-top: 2px;
      text-align: center;
      border: 1px solid $color-primaire;    
      margin-right: $margin-right + 10px; 
}
@mixin fonctionnement-icon {
    color:$color-icon;
    margin-right: $margin-right + 30px;
    
}


.fonctionnement{
    width: 100%;
    justify-content: center;
    padding-bottom:$padding-bottom;
    
    .fonctionnement__titlte{
    @include margin-h2;
    padding-bottom: $padding-bottom - 5px;
}
    .fonctionnement__filtres{
    @include fonctionement-filtres;
    @include box-shadow;
}
    .fonctionnement__numero-list{
    @include fonctionnement-numero-list; 
}
    .fa{
    @include fonctionnement-icon;
    
}
    .fonctionnement__text-list{
    font-weight: bold;

}
    .fonctionnement__filtres:hover{
    background-color: #e7d8fa;
    box-shadow:0px -3px 31px -14px $color-header, 0px 3px 15px -4px $color-header;
   
}
    .fonctionnement__filtres:hover >.fa{
    color:$color-primaire;
}
}
//Presentation sur la page d'accueil des restaurants// 

.restaurant{
    min-height: 1220px;
    margin: $margin;
    .restaurant__bloc{
    padding-right: $padding-right + 10px;
    padding-left: $padding-left + 10px;
    background-color:#F6F6F6;
    justify-content: center;
    padding-bottom: $padding-bottom + 10px;
    .restaurant__bloc--title{
    padding-top: $padding-top + 20px;
    }
    .restaurant__bloc--cadre{
    min-width: 300px;
    height: 270px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-top: $margin-top + 10px;
    .restaurant__bloc--cadre--lien{
    text-decoration: none;
    color: black;
    }
    .restaurant__bloc--cadre--imgtag{
    position: relative;
    text-align: center;
    .restaurant__bloc--cadre--imgtag--img{
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: $margin;
    }
    .restaurant__bloc--cadre--imgtag--tag{
    color: #217460;
    background-color: #99e2d0;
    padding:8px 16px 8px 16px;
    font-weight: bold;
    border-radius: 3px;
    width: 50px;
    font-weight: bold;
    font-size: small; 
    position: absolute;
    top: 12px;
    right: 10px;
    }    
    }
    .restaurant__bloc--cadre--text{
    position: relative;
    line-height: 30%;
    padding-left: $padding-left - 5px;
    padding-bottom: $padding-bottom - 10px;
    .restaurant__bloc--cadre--text--icon{
    position: absolute;
    right: 70px;
    bottom: 60px;
    cursor: pointer;
    .restaurant__bloc--cadre--text--icon--nobg{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    }   
    .restaurant__bloc--cadre--text--icon--bg{
    position: absolute;
    cursor: pointer;
    background: linear-gradient(to top right, $color-secondaire, $color-primaire);
    color: transparent;
    -webkit-background-clip: text;
    transition: 0.5s;
    transform: scale(0);
    }
    }
    .restaurant__bloc--cadre--text--icon:hover .restaurant__bloc--cadre--text--icon--bg{
    transform: scale(1);
    }     
    }   
}
}
}

//Cadre footer de la page d'accueil// 

.footer-accueil{
    max-height: 150px;
    background: rgb(44, 43, 43);
    color: white;
    padding: 30px 25px 30px 30px;
        .footer-accueil__logo{
        height: 20px;
        width: 100px;
        padding-bottom: $padding-bottom - 10px;
        }
        .footer-accueil__icon{
        padding-right: $padding-right - 10px;  
    }
        .footer-accueil__text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        line-height: 25px;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
    a:hover{
    color: $color-primaire;
}
}
// Page de chaque restaurant // 

//header de la page du restaurant //

.header__icon-back{
    position: absolute;
    left: 20px;
    
    
}
.header-icon{
    color: black;
}
// taille de la page restaurant // 
.main{
    width: 100%;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #f6f6f6;
    position: relative;
    margin: 0;
}
// taille image// 
.cart-img{
    width: 100%;
    height: 280px;
    object-fit: cover;   
} 
// taille des carte de presentation des menu de chaque restaurant // 

.cart-menu {
    width: 100%;
    height: 1200px;
    background: #f6f6f6;
    border-radius: 35px 35px 0 0;
    position: absolute;
    bottom: 0px;
    top: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;     
}
// Excéption pour le restaurant la note enchantee (1)// 
.cart-menu1{
    width: 100%;
    height: 1200px;
    background: #f6f6f6;
    border-radius: 35px 35px 0 0;
    position: absolute;
    bottom: 0px;
    top: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;     
}
// les autres restaurants et lanote enchante //

.carte-menu-bloc-title .carte-menu-bloc-title1{
    padding-top: $padding-top - 10px;
    padding-left:$padding-left;
    position: relative;
    font-style: italic; 
}
.carte-menu-cadre{
    padding-bottom: $padding-bottom - 10px;
}
.carte-title {
    font-family: $font-logo-tilte;
    padding-left: $padding-left;
}
//la note enchantee// 
.carte-title1{
    font-family: $font-logo-tilte;
    padding-left: $padding-left;
}
// la note enchantée(1)// 
//la note enchantée cadre (1) //
.main1{
    width: 100%;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #f6f6f6;
    position: relative;
    margin: 0;
}
.carte-menu1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: $padding-left;
    padding-right: $padding-right; 
}
// ajustement des cadres sur les autres pages des restaurants exception la note enchantee // 

.carte-menu-bloc-tilte-icon{
    position: relative;
}

.cart-menu-bloc-icon{
    position: absolute;
    right: 50px;
    bottom: 0px;
}

.cart-iconbg{
    color: $color-primaire;
}
.carte-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: $padding-left;
    padding-right: $padding-right;
    
}
.carte-menu-title{
    width: 30px;
    height: 30px;
    margin-bottom: $padding-bottom - 5px;
    padding-bottom: $padding-bottom - 10px;
    border-bottom: 4px solid $color-tertiaire;
}
.carte-menu-cadre{
    width: 100%;
    max-height: 65px;
    background-color: white;
    border-radius: 20px;
    line-height: 0.4px;
    position: relative;
    padding-left:$padding-left - 10px;
    padding-bottom: 0px;
    margin-bottom:$margin-bottom;
    cursor: pointer;
    line-height: 0;
    box-shadow:0px -3px 31px -14px $color-header, 0px 3px 15px -4px $color-header;
}
.carte-menu-cadre-text{
    height: auto;
}
.carte-menu-cadre-tilte{
    font-weight: bold;
    margin-bottom: 0; 
}
.carte-menu-cadre-descr-price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.carte-menu-cadre-descri{
    width: 350px;
    line-height: 20px;
    font-size: 0.9em;
    font-weight: lighter;
}

.carte-menu-cadre-price{
    padding-right: $padding-right + 10px;
}
.cart-menu-bloc{
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
// cadre du bouton sur les pages des restaurants // 

.cart-menu-bloc-btn{
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(to bottom right,$color-secondaire,$color-primaire);
    border: none;
    border-radius: 50px;
    transition: 300ms;
    box-shadow: 0px 11px 8px -5px  rgba($color: #000000, $alpha: 0.25);
   
       &:hover {
           transform: scale(0.92);
           box-shadow:0px 10px 8px -5px rgba($color: #000000, $alpha: 0.5);
           background: linear-gradient(to bottom right,rgba($color: #FF79DA, $alpha: 0.96),rgba($color: #9356DC, $alpha: 0.96));
        } 
    
}
// placemement du coeur a droite des titres des restaurant et animation du coeur en bg// 

.restaurant__bloc--cadre--text--iconmenu{
    position: absolute;
    right: 70px;
    bottom: 55px;
    cursor: pointer;
}
.restaurant__bloc--cadre--text--iconmenu--nobg{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
}   
.restaurant__bloc--cadre--text--iconmenu--bg{
    position: absolute;
    cursor: pointer;
    background: linear-gradient(to top right, $color-secondaire, $color-primaire);
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    transition: 0.6s;
    transform: scale(0); 
}    
.restaurant__bloc--cadre--text--iconmenu:hover .restaurant__bloc--cadre--text--iconmenu--bg{
    transform: scale(1);
}



//animation au survol carte menu qui se decale sur la gauche //
.carte-menu-cadre-animation-gb{
   background-color:$color-tertiaire ;
   min-height: 100%;
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0 20px 20px 0;
   position: absolute;
   bottom: 0;
   left: 80%;
   z-index: 10;
   transform: scaleX(0);
   transition: transform 900ms cubic-bezier(.32,0,.07,1);
   transform-origin: right;
   
}
.carte-menu-icon{
    color: white;
    transform:rotate(90deg);
}
.carte-menu-cadre:hover .carte-menu-cadre-animation-gb{
    transform: scaleX(1);
}

//animantion tourner au survol de l'incon//

.carte-menu-cadre:hover .carte-menu-icon{
    transform: rotate(360deg);
    transition: 900ms;
}

//Animation pour pousser le bloc ( texte et prix ) vers la gauche au survol//
.carte-menu-cadre-price{
    transition: transform 900ms;
}
.carte-menu-cadre:hover .carte-menu-cadre-price{
    transform: translate(-80px,0);
}
//Animation des trois petits points//

@keyframes basverslagauche {
    0% {
      transform: scaleX(1);
      transform-origin: 0% 0%;
      width: 350px;
    }
    100% {
      transform: scaleX(0.99);
      transform-origin: 0% 0%;
      width: 180px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } 
  }
  .carte-menu-cadre:hover .carte-menu-cadre-descri{
      animation:basverslagauche both 500ms;           
    } 


// animation defiler des cartes//

@keyframes autre{
    from{
        transform: translateY(-30%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.carte-menu-cadre-anim1{
    opacity: 0;
    animation: autre 1s ease-out 1s both;
}

.carte-menu-cadre-anim2{
    opacity: 0;
    animation: autre 1s ease-out  1.2s both;
}
.carte-menu-cadre-anim3{
    opacity: 0;
    animation: autre 1s ease-out 1.4s both;
}

.carte-menu-cadre-anim4{
    opacity: 0;
    animation: autre 1s ease-out 1.6s both;
}

.carte-menu-cadre-anim5{
    opacity: 0;
    animation: autre 1s ease-out  1.8s both;
}
.carte-menu-cadre-anim6{
    opacity: 0;
    animation: autre 1s ease-out 2s both;
}

.carte-menu-cadre-anim7{
    opacity: 0;
    animation: autre 1s ease-out 2.2s both;
}

.carte-menu-cadre-anim8{
    opacity: 0;
    animation: autre 1s ease-out  2.4s both;
}
.carte-menu-cadre-anim9{
    opacity: 0;
    animation: autre 1s ease-out 2.6s both;
}
//breackpoint ajustement du prix avec l'animation //
@media screen and (min-width:560px) {
    .carte-menu-cadre-price{
        padding-right: $padding-right + 45px;
    }
}
// responsive ipad// 

//page accueil// 

@media screen and (min-width:770px){
    //filtres fonctionnements//
    .fonctionnement-responsive{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap:wrap ;
    }
    .fonctionnement__filtres{
        padding-right: $padding-right + 20px;
    }
    .fonctionnement__titlte{
        padding-left: $padding-left + 10px;
    }
        
    .restaurant__bloc--title{
        margin-bottom: 0;
        margin-top: 0;
    }
    .restaurant{
        min-height: auto;
        margin-bottom: $margin-bottom + 20px;
    }
    .restaurant__bloc{
        max-width: 100%;
        margin-left: $margin-left;
        margin-right: $margin-right;
        padding-left: $padding-left - 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 16px #0000002e;
    }
    .restaurant-contenair-responsive{
        width: 100%;  
    }
    
    .restaurant-bloc-responsive{
        min-width: 100%;
        display: flex;
        -webkit-justify-content: space-around;
        padding-left: $padding-left - 10px;
       
    }
    .restaurant__bloc--cadre{
        width: 45%;
        box-shadow: 0 0 16px #0000002e;
      }
    .restaurant__bloc{
        border-radius: 50px 50px 50px 50px;
        
    }

    //footer accueil// 
    .footer-accueil-img{
        display: flex;
        justify-content: center;
    }
    .footer-accueil__text{
        display: flex;
        justify-content: space-between;
    }
    .footer-accueil{
        display: flex;
        flex-direction: column;
    }
    .footer-accueil-resp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    //page des autres restaurants carte et menu exception lanote enchantee //
    .main{
        background: none;
    } 
    .carte-menu-bloc-title{
       padding-top: $padding-top + 40px;
    }
    .cart-menu{
        width: 60%;
        height: auto;
        border-radius: 35px 35px 35px 35px;
        box-shadow: 0 0 16px #0000002e;
        top: 380px;
        height: auto;
        padding-bottom: $padding-bottom + 20px;
        margin-bottom: $margin-bottom;
    }
    .carte-menu-cadre-price{
        padding-right: $padding-right + 10px;
    }
    // Ajustement de la page du restaurant la note enchantee//
    .carte-title1{
        padding-top: $padding-top + 20px;
        margin-left: $margin-left;    
    }  
    .carte-title{
        padding-top: $padding-top + 20px;    
    }   
    .main1{
        height: 1600px;
        background: none; 
    }
    .cart-menu1{
        width: 60%;
        background: #f6f6f6;
        box-shadow: 0 0 16px #0000002e;
        border-radius: 35px 35px 35px 35px;
        position: absolute;
        bottom:0;
        top: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;     
    }
    .carte-menu1{
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        padding-left: $padding-left;
        padding-right: $padding-right; 
    }
    
    //autres restaurants// 
    .carte-menu-bloc-responsive{
        display: flex;
        flex-direction: column;
    }
    .cart-img{
        min-height: 420px;
    }
    .cart-menu-bloc-btn{
        margin-top: $margin-top - 10px;
        margin-bottom: $margin-bottom + 40px;
    }
    .carte-menu-bloc-title{
        padding-left: $padding-left;
    }
    
}

@media screen and (min-width:760px){
        //footer accueil// 
        .footer-accueil-img{
            display: flex;
            justify-content: center;
        }
        .footer-accueil__text{
            display: flex;
            justify-content: space-between;
        }
        .footer-accueil{
            display: flex;
            flex-direction: column;
            
        }
        .footer-accueil-resp{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0;
        }
}       

//breackpoint ajustement du prix pour les tailles d'ecrans plus grands //
@media screen and (min-width:955px) {
    .carte-menu-cadre-price{
        padding-right: $padding-right + 25px;
    }
}
//breackpoint ajustement du prix pour les tailles d'ecrans plus grands //
@media screen and (min-width: 1055px) {
    .carte-menu-cadre-price{
        padding-right: $padding-right + 60px;
    }
}

//responsive cart menu pour plus grand ecran // 

@media screen and (min-width:1400px) {
    .fonctionnement-responsive{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap:wrap ;
    }
    .fonctionnement__filtres{
        width: 330px;
    }
    .cart-img{
        min-height: 580px;
    }
//page autre restaurant carte et menu //
    .cart-menu{
        min-width: 1390px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: $padding-top + 10px;
        padding-bottom: 0;
        top: 500px;
    }
    .carte-menu-bloc-responsive{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: $padding-left;
        padding-right: $padding-right;
                
    }
    .carte-menu{
        width: 100%;
        height:auto;
    }
    .carte-menu-bloc-title{
        padding-left: $padding-left;
        padding-bottom: 0;
        padding-top: 0;
    }
    .main{
        max-height: 1180px;
    }
//lanote enchantee// 
    .main1{
        max-height: 1180px;
    }
    .carte-menu1{
        width: 100%;
        height:auto;
    }
    .cart-menu1{
        min-width: 1390px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: $padding-top + 10px;
        padding-bottom: 0;
        top: 500px;
    }
    .carte-menu-bloc-responsive1{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: $padding-left;
        padding-right: $padding-right;
    }
    .carte-menu-cadre-price{
        padding-right: $padding-right - 10px;
    }
            
}       