$color-primaire:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$color-header:#c2c2c2;
$color-background-fonctionnement: white;
$color-background-decouvrir: rgb(238, 229, 229);
$color-icon:rgb(121, 120, 120);

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');

$font-logo-tilte:'Shrikhand', cursive;
$font-body:'Roboto', sans-serif;

h1,h2{
    font-family: $font-body;
}

body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $font-body;
}

@keyframes chargeur {
    0%{
        transform: rotate(0deg) scale(1);
        border-top: 16px solid $color-primaire;
        border-bottom: 16px solid $color-primaire;
        opacity: 1;
    }
    25%{
      border-top: 16px solid $color-secondaire;
      border-bottom: 16px solid $color-secondaire;
    }
    50%{
      transform: rotate(360deg) scale(1.15);
      border-top: 16px solid $color-primaire;
      border-bottom: 16px solid $color-primaire;
      
    }
    75%{
      border-top: 16px solid $color-tertiaire;
      border-bottom: 16px solid $color-tertiaire;
    }
    100%{
      transform: rotate(720deg) scale(1);
      border-top: 16px solid $color-primaire;
      border-bottom: 16px solid $color-primaire;
      opacity: 1;          
  }
}
@keyframes opacity {
    0%, 90%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
    }
}

.bloc-loader{
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(168, 164, 164, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
    animation: opacity 3s linear both;
    .bloc-loader__loader{
        border: 16px solid #f6f6f650;
        width: 120px;
        height: 120px;
        border-top:16px solid $color-primaire;
        border-bottom: 16px solid $color-secondaire;
        border-radius: 50%;
        opacity: 0;
        animation: chargeur 2s linear 2; 
    }    
}
          

    
              

  

    
    
    


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px 0 15px 0;
    .header__logo{
    font-family: $font-logo-tilte;
    width: 165px;
    height: 30px;    
    }
}
    


.maps{
    display: flex;
    align-items: center;
    justify-content: center;
    background: -moz-linear-gradient(top, #c2c2c2 0%, #e9e9e9 10%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #c2c2c2 0%, #e9e9e9 10%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #c2c2c2 0%, #e9e9e9 10%, #e9e9e9 100%);
    height: 50px;
    margin: 0;
    .maps__icon{
        margin-right: 20px;
        cursor: pointer;
    }
}


.decouvrir{
    text-align: center;
    padding:2rem;
    background-color:#F6F6F6;
    height: 250px;
    .decouvrir__title{
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 20px;
    }
    .decouvrir__subtitle{
        font-size: 1,9rem;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .decouvrir__btn{
       width: 200px;
       height: 50px;
       border-radius: 50px;
       cursor: pointer;
       background: linear-gradient(to bottom right, $color-secondaire, $color-primaire);
       border:none;
       position: relative;
       transition: 300ms;
       box-shadow: 0px 11px 10px -5px $color-header;
   
       &:hover {
           transform: scale(1.15);
           box-shadow:0px 11px 10px -5px$color-primaire ,0px 11px 10px -5px $color-secondaire;
        } 
    }
    .decouvrir__btn--text{
        color: #f5f5f5;
        font-size: 1.1em;       
    }
}

@mixin margin-h2{
    margin-left: 20px;
    margin-top: 40px;
}

@mixin box-shadow {
    box-shadow: 0px 3px 15px -4px $color-header;
}

@mixin fonctionement-filtres {
    border:2px transparent #C2C2C2;
    max-height: 100px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    background-color:rgb(250, 250, 250);
    align-items: center;
    cursor: pointer;
    min-width: 330px;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 70px; 
    box-shadow: 0px -3px 31px -14px $color-header;
}

@mixin fonctionnement-numero-list {
    margin-left:-12px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color:$color-primaire ;
      color: white;
      font-weight: bold;
      padding-top: 2px;
      text-align: center;
      border: 1px solid $color-primaire;    
      margin-right: 30px; 
}
@mixin fonctionnement-icon {
    color:$color-icon;
    margin-right: 50px;
    
}


.fonctionnement{
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
    
    .fonctionnement__titlte{
    @include margin-h2;
    padding-bottom: 15px
}
    .fonctionnement__filtres{
    @include fonctionement-filtres;
    @include box-shadow;
}
    .fonctionnement__numero-list{
    @include fonctionnement-numero-list; 
}
    .fa{
    @include fonctionnement-icon;
    
}
    .fonctionnement__text-list{
    font-weight: bold;

}
    .fonctionnement__filtres:hover{
    background-color: #e7d8fa;
    box-shadow:0px -3px 31px -14px $color-header, 0px 3px 15px -4px $color-header;
   
}
    .fonctionnement__filtres:hover >.fa{
    color:$color-primaire;
}
}

.restaurant{
    min-height: 1220px;
    margin: auto;
}
.restaurant__bloc{
    padding-right: 30px;
    padding-left: 30px;
    background-color:#F6F6F6;
    justify-content: center;
    padding-bottom: 30px;
}
.restaurant__bloc--title{
    padding-top: 40px;
}
.restaurant__bloc--cadre{
    min-width: 300px;
    height: 270px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
}
.restaurant__bloc--cadre--lien{
    text-decoration: none;
    color: black;
}
.restaurant__bloc--cadre--imgtag{
    position: relative;
    text-align: center;
}
.restaurant__bloc--cadre--imgtag--img{
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.restaurant__bloc--cadre--imgtag--tag{
    color: #217460;
    background-color: #99e2d0;
    padding:8px 16px 8px 16px;
    font-weight: bold;
    border-radius: 3px;
    width: 50px;
    font-weight: bold;
    font-size: small; 
    position: absolute;
    top: 12px;
    right: 10px;
}
.restaurant__bloc--cadre--text{
    position: relative;
    line-height: 30%;
    padding-left: 15px;
    padding-bottom: 10px;
}
.restaurant__bloc--cadre--text--icon{
    position: absolute;
    right: 70px;
    bottom: 60px;
    cursor: pointer;
}
.restaurant__bloc--cadre--text--icon--nobg{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
}   
.restaurant__bloc--cadre--text--icon--bg{
    position: absolute;
    cursor: pointer;
    background: linear-gradient(to top right, $color-secondaire, $color-primaire);
    color: transparent;
    -webkit-background-clip: text;
    transition: 0.5s;
    transform: scale(0); 
}    
.restaurant__bloc--cadre--text--icon:hover .restaurant__bloc--cadre--text--icon--bg{
    transform: scale(1);
}

.footer-accueil{
    max-height: 150px;
    background: rgb(44, 43, 43);
    color: white;
    padding: 30px 25px 30px 30px;
        .footer-accueil__logo{
        height: 20px;
        width: 100px;
        padding-bottom: 10px;
    }
    .footer-accueil__icon{
        padding-right: 10px;  
    }
.footer-accueil__text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        line-height: 25px;
    }
a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

a:hover{
    color: $color-primaire;
}
}

.header__icon-back{
    position: absolute;
    width: 100%;
    left: 20px;
    
}
.header-icon{
    color: black;
}

.main{
    width: 100%;
    height: 1500px;
    background: #f6f6f6;
    position: relative;
}

.cart-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    
}    
.cart-menu{
    min-width: 400px;
    height: 1200px;
    background: #f6f6f6;
    border-radius: 35px 35px 0 0;
    position: absolute;
    bottom: 0px;
    top:248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;     
}

.carte-menu-bloc-title{
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    font-style: italic; 
}
.carte-title{
    font-family: $font-logo-tilte;
}
.carte-menu-bloc-tilte-icon{
    position: relative;
}

.cart-menu-bloc-icon{
    position: absolute;
    right: 50px;
    bottom: 0px;
}

.cart-iconbg{
    color: $color-primaire;
}
.carte-menu{
    min-height: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 5px;
}
.carte-menu-title{
    width: 40px;
    height: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 4px solid $color-tertiaire;
}
.carte-menu-cadre{
    width: 380px;
    min-height: 60px;
    background-color: white;
    border-radius: 20px;
    line-height: 0;
    position: relative;
    padding-left: 10px;
    margin-bottom: 20px;
    box-shadow:0px -3px 31px -14px $color-header, 0px 3px 15px -4px $color-header;
}
.carte-menu-cadre-text{
    width: 320px;
    height: auto;
}
.carte-menu-cadre-tilte{
    font-weight: bold;  
}
.carte-menu-cadre-descri{
   
    font-size: 0.9em;
}
.carte-menu-cadre-price{
    position: absolute;
    right: 20px;
    bottom: 5px;
}
.cart-menu-bloc{
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.cart-menu-bloc-btn{
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(to bottom right,$color-secondaire,$color-primaire);
    border: none;
    border-radius: 50px;
    transition: 300ms;
    box-shadow: 0px 11px 10px -5px $color-header;
   
       &:hover {
           transform: scale(1.15);
           box-shadow:0px 11px 10px -5px$color-primaire ,0px 11px 10px -5px $color-secondaire;
        } 
}
.restaurant__bloc--cadre--text--iconmenu{
    position: absolute;
    right: 70px;
    bottom: 55px;
    cursor: pointer;
}
.restaurant__bloc--cadre--text--iconmenu--nobg{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
}   
.restaurant__bloc--cadre--text--iconmenu--bg{
    position: absolute;
    cursor: pointer;
    background: linear-gradient(to top right, $color-secondaire, $color-primaire);
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    transition: 0.6s;
    transform: scale(0); 
}    
.restaurant__bloc--cadre--text--iconmenu:hover .restaurant__bloc--cadre--text--iconmenu--bg{
    transform: scale(1);
}


